html, body, .main {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  overflow: hidden;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 75px;
}

.left-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.left-enter.left-enter-active{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: .35s ease-in;
  transition: .35s ease-in;
}

.left-leave.left-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: .35s ease-in;
  transition: .35s ease-in;
}

.right-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.right-enter.right-enter-active{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: .35s ease-in;
  transition: .35s ease-in;
}

.right-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.right-leave.right-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: .35s ease-in;
  transition: .35s ease-in;
}
